.footer {
  background-color: white;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
  font-size: 0.9rem;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
}
.link-name {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
  transition: color 0.3s;
}
.footer-link:hover {
  color: #ffffff;
  text-decoration: underline;
}
.link-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.favicon-logo {
  height: 20px;
  width: auto;
}
.link-section-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 0.5rem;
}
body.dark-mode .footer {
  background-color: #1c1c1c;
  color: #f0f0f0;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}
body.dark-mode .link-name {
  color: #f0f0f0;
}
body.dark-mode .footer-link:hover {
  color: #ffffff;
  text-decoration: underline;
}
