* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.main-app {
  position: relative;
  top: 4vh;
}
.book-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
